html{
    margin: 0;
    padding: 0;
}
body{
    margin: 0;
    padding: 0;
    min-height: calc(100vh);
}

#records{
    color: whitesmoke;
}

.record{
    border: 2px solid black;
    position: relative;
    z-index : 1;
    margin: 20px;
}

.record .recordName{
    font-size: 26px;
    font-weight: bold;
    display: inline-block;
    margin: 10px;
    vertical-align: middle;
}

.tasksBlock{
    margin: 10px;
}

.task{
    margin: 10px;
}

.taskName{
    display: inline;
}

#backDrop{
    position: fixed;
    height: 100%;
    width: 100%;
    z-index: 50;
    background-color: #11101075;
}

#confirmation{
    position: fixed;
    z-index: 70;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    padding: 20px;
    background-color: #eee;
    width: 90%;
    max-width: 400px;
    text-align: center;
    border-radius: 10px;
}

#confirmMatter{
    margin-bottom: 20px;
}

#confirmYes{
    background-color: salmon;
}

.clickable{
    position: absolute;
    height: 100%;
    width: 100%;
    z-index: 10;
}

.selected{
    height: 100%;
    width: 100%;
    background-color: rgba(155, 155, 155, 0.356);
}

/* UI STYLING */
#header{
    background-color: #071b3a;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

#heading{
    height: 34px;
    font-size: 34px;
    margin: 15px;
    color: white;
    display: inline-block;
}

#navigation{
    float: right;
    height: 40px;
    padding: 8px;
    font-size: 20px;
    margin: 12px;
}

#navigation a{
    color: white;
    text-decoration: none;
}

#navigation a:hover{
    text-decoration: underline;
}

.feature{
    background-color: rgb(86, 165, 230);
}

#delete{
    background-color: salmon;
}

#selection, .selectionCtrls{
    display: block;
    margin: 20px;
}

.record{
    border: none;
    background-color: rgba(93, 93, 93, 0.486);
    color: white;
    border-radius: 10px;
    margin: 10px 0;
}

.tasksBlock{
    background-color: rgba(126, 126, 126, 0.486);
    padding: 10px;
    border-radius: 10px;
}

.closeSelect{
    float: right;
}

.recordDetails{
    line-height: 30px;
    padding: 20px;
}

.toggler{
    height: 24px;
    width: 24px;
    border-radius: 400px;
    border: 1px solid black;
    box-sizing: content-box;
    padding-bottom: 5px;
}
.toggler:focus{
    outline: none;
}

input[type=checkbox] + label {
    display: inline-block;
    margin: 3px;
    cursor: pointer;
    padding: 3px;
}

input[type=checkbox] {
    display: none;
}

input[type=checkbox] + label:before {
    content: "\2714";
    border: 1.5px solid #000;
    border-radius: 4px;
    padding: 0 2px;
    margin-right: 0.2em;
    color: transparent;
    transition: .2s;
    font-size: 16px;
}

input[type=checkbox] + label:active:before {
    transform: scale(0);
}

input[type=checkbox]:checked + label:before {
    background-color: rgb(60, 151, 179);
    border-color: rgb(60, 151, 179);
    color: #fff;
}

input[type=checkbox]:disabled + label:before {
    transform: scale(1);
    border-color: #aaa;
}

input[type=checkbox]:checked:disabled + label:before {
    transform: scale(1);
    background-color: #bfb;
    border-color: #bfb;
}

#records{
    padding: 0 20px;
}
