body {
  margin: 0;
  padding: 0;
}
#timer {
  width: 500px;
  font-size: 70px;
  background-color: black;
  color: limegreen;
  padding: 25px;
  border-radius: 10px;
}
#labels {
  margin-top: -25px;
  z-index: 2;
  color: limegreen;
  font-size: 12px;
}

#hh {
  margin-left: 45px;
}
#mm {
  margin-left: 80px;
}
#ss {
  margin-left: 70px;
}
#ms {
  margin-left: 45px;
}

#controls {
  margin-left: 150px;
  margin-top: 30px;
}

button {

  box-shadow: 5px 5px 5px #888888;
}

.watches {
  text-align: center;
}
.watch1 {
  text-align: left;
  display: inline-block;
  width: 50%;
}

.watch2 {
  text-align: left;
  display: inline-block;
  width: 40%;
}

.watch3 {
  text-align: left;
  display: inline-block;
  width: 40%;
}

.text {
  color: #fff;
  font-size: 25px;
}

.textbox
{
  font-size: 18px;
}

#go {
  background-color: limegreen;
}

#stop {
  background-color: red;
  display: none;
}

#clear {
  background-color: yellow;
  display: none;
}

#plus {
  background-color: limegreen;
}

#minus {
  background-color: red;
}

#todo_container {
  width: 820px;
  height: 400px;
  font-size: 40px;
  overflow-y: auto;
  background-color: black;
  color: limegreen;
  padding: 25px;
  border-radius: 10px;
  margin-top: 50px;
  margin-left: 200px;
  padding-top: 5px;
}

#prb_cntr {
  width: 420px;
  font-size: 40px;
  background-color: black;
  color: limegreen;
  padding: 25px;
  border-radius: 10px;
  margin-top: 50px;
  margin-left: 400px;
  padding-top: 50px;
}

#prb_count {
  margin-top: 75px;
  margin-left: 12px;
}

body,
button {
  font-family: "Courier";
}
body {
  background-color: #0000fa;
}
#footer {
  text-align: center;
  color: #fff;
  background-color: rgba(0, 0, 0, 0.712);
  margin-top: 1.5rem;
  padding: 1.5rem;
  font-family: cursive;
  letter-spacing: 3px;
  font-size: large;
}
#footer a {
  text-decoration: none;
  cursor: pointer;
  color: #fff;
  style: none;
}
#footer a:hover {
  color: pink;
}
#love-icon {
  color: red;
}
