
body {
  margin-top: 30px;
  padding: 0;
  box-sizing: border-box;
}
.timer {
  width: 95%;
  font-size:6vw;
  background-color: black;
  color: limegreen;
  padding: 8px;
  border-radius: 10px;
}

.labels {
  margin-top: -25px;
  z-index: 2;
  color: limegreen;
  font-size: 12px;
}

.hh {
  margin-left: 45px;
}

.mm {
  margin-left: 80px;
}

.ss {
  margin-left: 70px;
}

.cs {
  margin-left: 45px;
}

.controls {
  margin-left: 30%;
  margin-top: 25px;
}

button {
  box-shadow: 5px 5px 5px #888888;
}

.watches {
  text-align: center;
}

.watch1 {
  text-align: center;
  display: inline-block;
  width: 48%;
}

.watch2 {
  text-align: center;
  display: inline-block;
  width: 48%;
}

.watch3 {
  margin-top: 20px;
  text-align: center;
  display: inline-block;
  width: 48%;
}

.text {
  color: #fff;
  font-size: 4vw;
  font-family: 'Oswald', sans-serif;

}

.textbox
{
  font-size: 18px;
}

#go {
   font-size:2vw;
  background-color: limegreen;
}

#stop {
  background-color: red;
  display: none;
   font-size:2vw;
}

#clear {
  background-color: yellow;
  display: none;
   font-size:2vw;
}

#add{
 background-color: limegreen;
  font-size:2.7vw;
  margin-bottom: 3px;

}

#plus {
  background-color: limegreen;
  }

#minus {
  background-color: red;

}

/* Buttons */
button,  .input{
  transform: scale(0.9);
}

button:hover, .input{
  transform: scale(1);
  opacity: 0.8;
}

#todo_container {
  width: 70%;
  height: 400px;
  font-size: 40px;
  background-color: black;
  color: limegreen;
  padding: 10px 25px;
  border-radius: 10px;
  margin: 50px auto;
}

#todo_list{
  height: 200px;
  overflow-y: auto;
}

#prb_cntr {
  width: 55%; 
  font-size: 2.5vw;
  background-color: black;
  color: limegreen;
  padding: 50px 20px ;
  border-radius: 10px;
  margin: 50px auto;
  text-align: center;
}

#prb_count {
   text-align: center; 
  margin-top: 45px;
  margin-left: 12px;
}

body,
button {
  font-family: "Courier";
  margin:8px;
}

body {
  background-color: #0000fa;
}

#footer {
  text-align: center;
  color: #fff;
  background-color: rgba(0, 0, 0, 0.712);
  margin-top: 1.5rem;
  padding: 1.5rem;
  font-family: cursive;
  letter-spacing: 3px;
  font-size: 1.5vw;
}

#footer a {
  text-decoration: none;
  cursor: pointer;
  color: #fff;
}

#footer a:hover {
  color: pink;
}
